
body{
    background-color:#3AB370 ;
}
.title{
    color: aliceblue;
    text-align: center;
    font-family:'NotoSansMono';
    margin: 0;
}
.subtitle{
    text-align: center;
    color: aliceblue;
    margin: 0;
}
.big{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.imgdiv{
 width: 48%;   
 background-color: aliceblue;
}
img{
    width: 100%;
}